<div class="media">
  <div class="media-left">
    <% @users.each do |user| %>
      <%= simple_format user.username %>
      <strong>Posted by <%= link_to user.username, user.gallery.title, class: "btn btn-default" %> <%= link_to "#{time_ago_in_words(gallery.created_at)} ago" %>
    <% end %>
  </div>
