<h4>This page is in memory of the late David from The Iron Yard</h4>
<h5>Title of gallery</h5>
<h6>date created</h6>
<button type="button" class="btn btn-default">Make a New Gallery</button>
<button type="button" class="btn btn-success">Share Gallery</button>
<button type="button" class="btn btn-danger">Delete Gallery</button>
 <%= link_to "Make New Gallery", new_gallery_path(@user), class: "btn btn-default" %>
