<h4>Most Recently Added Photo (as thumbnail)</h4>
<h5>Title of gallery</h5>
<h6>date created</h6>
<button type="button" class="btn btn-danger">Delete Gallery</button>
<button type="button" class="btn btn-default">Add Photos</button>
<button type="button" class="btn btn-success">Share Gallery</button>
