<h3>Should show all the images for this gallery</h3>

<%= link_to "Add Some Pictures", new_photo_path, class: "btn btn-primary" %>
<% @gallery.photos.each do |photo| %>
  <%#= image_tag photo.url %>
  <h6><%= photo.title %></h6>
<% end %>
